<!doctype html>
    <html>
    <head>
        <title>Templates with Underscore.js</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="../css/presentation.css" />
        <link rel="stylesheet" type="text/css" href="../css/prettify.css" />
        <link  href="http://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,bold,bolditalic" rel="stylesheet" type="text/css">
        <script src="../js/jquery.js" type="text/javascript"></script>
        <script src="../js/fathom.js"></script>
        <script src="../js/prettify.js"></script>
        <script>
        $(document).ready(function(){
            $('pre').addClass('prettyprint').attr('tabIndex', 0);
            prettyPrint();

            var fathom = $('#presentation').fathom({
                onActivateSlide: function() {
                    var $slide = $(this);
                    $slide.find('pre:first').focus();
                }
            });
            $('body').keypress(function(event){
               if (event.which === 110) {
                   $('.speaker-notes').toggle();
               }
            });
        });
        </script>
    </head>
    <body>
        <div id="presentation">
            <div id="presentation-counter"></div>
            <div id="slides">

            <div class="slide normal">
                <h1 class="center">Templates with Underscore.js</h1>
                <h2 class="center">(secretly a tutorial on how to use modules)</h2>
                <pre class="speaker-notes" style="display:none"></pre>
            </div>

            <div class="slide normal">
                <header><h1>A little bit of background</h1></header>
                <section class="content">
                <br><br>
                    <p>Underscore.js is a utility belt for JavaScript.</p>
                    <p><a href="http://underscorejs.org/">It's very well documented.</a></p>
                    <p>It's also one of the best examples of the kind of code that needs to be shared.</p>
                    <p>Made by DocumentCloud - same people who make Backbone.js.</p>
                </section>
                <pre class="speaker-notes" style="display:none"></pre>
            </div>

            <div class="slide normal">
                <header><h1>Using Underscore</h1></header>
                <section class="content">
                <p>After you install underscore...</p>
                    <pre>
var _ = require('underscore');
                    </pre>
                    <p>Because _ is a valid character, we use it by itself. Now we have access to some _ namespaced methods.</p>
                    <pre>
_.each([1, 2, 3], alert);

var stooges = [{name : 'moe', age : 40}, {name : 'larry', age : 50}, {name : 'curly', age : 60}];
_.pluck(stooges, 'name');
=> ["moe", "larry", "curly"]

_(3).times(function(n){ genie.grantWishNumber(n); });

_.escape('Curly, Larry & Moe');
                    </pre>
                </section>
            </div>

            <div class="slide normal">
                <header><h1>Using Templates</h1></header>
                <section class="content">
                    <pre>
var _ = require('underscore');

var compiled = _.template("hello: <%= name %>");
compiled({name : 'moe'});
=> "hello: moe"
                    </pre>
                    <p>Or...</p>
                    <pre>
var _ = require('underscore');

var compiled = _.template("Goodbye, <%= name %>",{name : 'Joe'});
=> "Goodbye, Joe"
                    </pre>
                </section>
                <pre class="speaker-notes" style="display:none">
                    <p>Note, we're using the underscore character in a similar way that jQuery is using the dollar sign. It's like namespacing.</p>
                </pre>
            </div>

            <div class="slide normal">
                <header><h1><a href="exercises/template_data.html">Exercise Time!</a></h1></header>
            </div>



        </div>
    </div>
</body>